* { margin: 0px; padding: 0px;}
ul { list-style-type: none;}
li { list-style: none;}
a { text-decoration: none; color: white;}


header {
    width: 100%;
    height: 121px;
    padding: 0;
    background-color: #F6F5F0;
    border-bottom: 1px solid lightgray;
}
header .inner {
    width: 1100px;
    margin: 0 auto;
}
header .inner #logo {
    width: 75px; height: 75px;
    float: left;  
    margin: 23px 0;
}

/* top-menu */
header .inner .top-menu{
    float: right;
    margin: 14px 0;
    cursor: pointer;
}
header .inner .top-menu li {
    float: left;
    padding: 9px;
    font-size: 12.8px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif,sans-serif;
    color: rgb(93, 92, 92);
    
}
header .inner .top-menu button {
    width: 34px; height: 34px;
    border-radius: 4px;
    background-color: white;
}
header .inner .top-menu li:nth-child(2n) { color: rgb(224, 223, 223);}
header .inner .top-menu li:nth-child(2n+1):hover { color: black;}

/* main-menu */
header .inner .main-menu{
    float: right;
    cursor: pointer;
}
header .inner .main-menu .title {
    height: 27px;
    padding: 12px 20px 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif,sans-serif;
}
header .inner .main-menu .menu-item {
    float: left;
}
header .inner .main-menu .menu-item:hover .title { 
    background-color: #2C2A29;
    color: #669900;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* drop-container */
header .main-menu .menu-item .drop-container {
    width: 100%;
    display: none;
    position: fixed;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
}
header .main-menu .menu-item:hover .drop-container {
    display: block;
    z-index: 1;
}

/* drop-menu */
header .main-menu .menu-item .drop-container .drop-menu {
    background-color: #2C2A29;

}
header .main-menu .menu-item .drop-container .drop-menu .inner {
    display: flex;
}
header .main-menu .menu-item .drop-container .drop-menu .inner .item {
    margin: 20px 0;
    width: 220px;
}
header .main-menu .menu-item .drop-container .drop-menu .inner .item h3 {
    color:white;
    font-weight: 100;
    font-size: 14px;
    padding: 3px 0 12px 0;
}
header .main-menu .menu-item .drop-container .drop-menu .inner .item li {
    color:#8b8b8b;
    font-size: 12.8px;
    padding: 5px 0;
    word-spacing: 0px;
}
header .main-menu .menu-item .drop-container .drop-menu .inner .item li:hover { color:#669900}

/* drop-text */
header .main-menu .menu-item .drop-container .drop-text {
    padding: 25px 0;
    background-image: url(img/main_menu_pattern.jpg);
}
header .main-menu .menu-item .drop-container .drop-text h4 {
    color: #8b8b8b;
    font-size: 13px;
    font-weight: 200;
}
header .main-menu .menu-item .drop-container .drop-text p {
    color: #669900;
    font-size: 12.8px;
    padding: 4px 0 13px 0;
}

/* main */
main { 
    width: 100%;
}
main .screen {
    height: 640px;
    margin-top: 122px;
    background-image: url(img/visual_bg.jpg);
}
main .screen .inner {
    position: relative;
    height: 640px;
}

main .screen .inner .title {
    position: absolute;
    width: 470px;
    height: 231px;
    top: 80px;
    left: 0;
}
main .screen .inner .look {
    color: color(srgb 0.3493 0.1669 0.0932); 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 11px 0;
    width: 130px;
    border: 2px solid color(srgb 0.3493 0.1669 0.0932);
    border-radius: 4px;
    position: relative;
    top: 340px;
    left: 170px;
    cursor: pointer;   
}
main .screen .inner .look:hover {
    background-color: color(srgb 0.3493 0.1669 0.0932);
    color: white;
    transition-duration: 0.7s;
}
main .screen .inner .cup1_text {
    position: absolute;
    top: 20px;
    right: 165px;
}
main .screen .inner .cup1_img{
    position: absolute;
    top: 53px;
    right: -55px;
}
main .screen .inner .cup2_text {
    position: absolute;
    bottom: 220px;
    left: 432px;
}
main .screen .inner .cup2_img{
    position: absolute;
    top: 124px;
    right: 160px;
}
main .screen .inner .spoon {
    position: absolute;
    bottom: 0;
    left: 280px;
}

/* notice */
main .notice {
    width: 100%;
    height: 60px;
    background-color: #2C2A29;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}
main .notice .inner {
    color: white;
    display: flex;
}
main .notice .inner h2 {
    width: 100px;
    text-align: center;
    padding: 19px 0;
}
main .notice .inner .slide li {
    float: left;
    padding: 19px 0;
}
main .notice .inner img {
    background-color: white;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    padding: 4px;
    margin: 14px 0;
}
